<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Customer</display-name>
  
  <servlet>
  <servlet-name>aaa</servlet-name>
  <servlet-class>smp.Save</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>aaa</servlet-name>
   <url-pattern>/Save</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>smp.Search</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>abc</servlet-name>
   <url-pattern>/Search</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>bbb</servlet-name>
  <servlet-class>smp.Debit</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>bbb</servlet-name>
   <url-pattern>/Debit</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>ccc</servlet-name>
  <servlet-class>smp.Cradit</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>ccc</servlet-name>
   <url-pattern>/Cradit</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>ddd</servlet-name>
  <servlet-class>smp.CSearch</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>ddd</servlet-name>
   <url-pattern>/CSearch</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>eee</servlet-name>
  <servlet-class>smp.Verify</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>eee</servlet-name>
   <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>xyz</servlet-name>
  <servlet-class>smp.Verify1</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>xyz</servlet-name>
   <url-pattern>/Verify1</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>xxx</servlet-name>
  <servlet-class>smp.List</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>xxx</servlet-name>
   <url-pattern>/List</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>spg</servlet-name>
  <servlet-class>smp.Check</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>spg</servlet-name>
   <url-pattern>/Check</url-pattern>
  </servlet-mapping>
</web-app>